.header {
  margin-top: 50px;
  //   border: 1px solid white;

  .logo {
    width: 100px;
  }

  .horizontal-line {
    border-bottom: 4px solid #c5c6c7;
    width: 200px;
  }

  .hi {
    margin-top: 50px;
    p {
      font-size: 3rem;
      line-height: 2rem;
      font-weight: 700;
      color: #66fcf1;
    }
  }
}
