.header {
  margin-top: 50px;
  padding-left: 35px;

  .logo {
    width: 100px;
  }

  .socials-container {
    display: flex;
    justify-content: space-between;
    width: 180px;
  }

  .socials-line {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;

    .socials {
      color: #c5c6c7;
      font-size: 1.8rem;
      &:hover {
        cursor: pointer;
        color: #66fcf1;
      }
    }
  }

  .hi {
    margin: 50px 0 70px 0;
    p {
      font-size: 3rem;
      line-height: 2rem;
      font-weight: 700;
      color: #66fcf1;
    }
  }
}

.horizontal-line {
  border-bottom: 4px solid #c5c6c7;
  width: 200px;
}
