$phone: 414px;
$desktop: 1200px;
$tablet: 768px;

.header {
  margin-top: 50px;
  padding-left: 35px;

  .logo {
    width: 100px;
  }

  .socials-container {
    display: flex;
    justify-content: space-between;
    width: 180px;
  }

  .socials-line {
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;

    .socials {
      color: #c5c6c7;
      font-size: 1.8rem;
      &:hover {
        cursor: pointer;
        color: #66fcf1;
      }
    }
  }

  .hi {
    margin: 50px 0 70px 0;

    p {
      font-size: 3rem;
      line-height: 2rem;
      font-weight: 700;
      color: #66fcf1;
      @media screen and (max-width: $phone) {
        font-size: 1.9rem;
      }
      @media screen and (min-width: $tablet) {
        font-size: 2.2rem;
      }
    }
  }
}

.horizontal-line {
  border-bottom: 4px solid #c5c6c7;
  width: 200px;
  @media screen and (max-width: $phone) {
    display: none;
  }
}
